#result {
  display: none;
}

body {
  background-image: url("nightsky.jpg");
  background-position: center;
  background-repeat: none;
  background-size: 100%;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Cute Font', cursive;
  font-size: 200px;
  color: #f4df42;
}
img {
  width: 200px;
  margin-bottom: 10px;
}

input[type=number] {
  width: 300px;
  

}

font-family: 'Cute Font', cursive;
font-family: 'Dosis', sans-serif;
